/* MAIN */
$main_wrapper_width	: 1100px;

$game_width		: 600px;
$game_height		: 600px;

$left_width		: 270px;
$left_margin		: 15px;

$right_width		: 200px;
$right_margin		: 15px;

/* VK */
