@import 'globals.scss';

#main-wrapper {
	width:1100px;
}

#game-field {
	width: $game_width;
	height: $game_height;
	background: #fee;
	outline: 1px solid #f00;
}

#left-block{
	width: $left_width;
	height: $game_height;
	background-color: #cfc;
	margin-right:$left_margin;
}

#right-block {
	width: $right_width;
	height: $game_height;
	background-color: #ccf;
	margin-left:$right_margin;
}

#bottom-block{
	margin: 0 $right_width+$right_margin 0 $left_width+$left_margin;
	background-color: #ccc;
}

.v6-buttons {
	background:rgba(0,0,0,0.5);
	padding: 6px 4px;
}

.v6-buttons span {
	color:#ccc;
}